{% extends "base.html" %} {% block title %}index{% endblock %} {% block
    content %}   
    <!-- seguiti SECTION -->
    <div class="section">
        <div class="container">
            <div class="pricing-header">
                seg<span class="main-color">ui</span>ti
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel">
                {% for amico in seguiti %}
                <!-- AMICO ITEM -->
                <a href="/profilo/{{amico}}" class="amico-item">
                    <div class="amico-item-content">
                        <div class="amico-item-title">
                            {{amico}}
                        </div>
                    </div>
                </a>
                <!-- END AMICO ITEM -->
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- END seguiti SECTION -->
    <!-- ti_seguono SECTION -->
    <div class="section">
        <div class="container">
            <div class="pricing-header">
                Ti seg<span class="main-color">uo</span>no
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel">
                {% for amico in ti_seguono %}
                <!-- AMICO ITEM -->
                <a href="/profilo/{{amico}}" class="amico-item">
                    <div class="amico-item-content">
                        <div class="amico-item-title">
                            {{amico}}
                        </div>
                    </div>
                </a>
                <!-- END AMICO ITEM -->
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- END ti_seguono SECTION -->
    <!-- tutti SECTION -->
    <div class="section">
        <div class="container">
            <div class="pricing-header">
                utenti Matt<span class="main-color">fl</span>ix
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel">
                {% for amico in tutti %}
                <!-- AMICO ITEM -->
                <a href="/profilo/{{amico}}" class="amico-item">
                    <div class="amico-item-content">
                        <div class="amico-item-title">
                            {{amico}}
                        </div>
                    </div>
                </a>
                <!-- END AMICO ITEM -->
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- END tutti SECTION -->
{% endblock %}
    
